<div class="print_report"> 
    {table}
    <style>
        .print_report{width:830px}
        table.report{margin:0}
        table.report,table.report-table{width:830px;max-width:830px;font-size:14px}
        table.report table.report-table{width:100%;margin:0 auto}
        table.report table.report-table td{border:solid 1px #000;}
        table.report table.report-table td.t-fr{text-align:right;}
        .border-r-l{border-bottom:2px solid #000;border-right:2px solid #000}
        .report-fl{display:inline-block;float:left;margin-left:5px}
        .report-fr{display:inline-block;float:right;margin-right:5px}
    </style>
</div>