@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Css{
    <link href="@(AppGlobal.Res)js/plugins/bootstrap-treeview/bootstrap-treeview.css?@AppGlobal.VNo" rel="stylesheet" />
    <style type="text/css">
        /*::-webkit-scrollbar { display: none }
        html::-webkit-scrollbar { display: none; }
        html { overflow-y: hidden;}*/ 
        body { background: white; font-family: Helvetica; overflow-y: visible }
        .test-wrap { width: 100%; height: 800px; overflow: auto; border: none; }
        /*.syntaxhighlighter {   overflow: hidden !important;  }*/
    </style>
}
@section Js{
    <script src="@(AppGlobal.Res)js/Config.js?@AppGlobal.VNo"></script>
    <script src="@(AppGlobal.Res)js/Admin/Areas/CodeBuild/CodePreview.js?@AppGlobal.VNo"></script>
}

<div class="content pd5">
    <div class="controls box">
        <ul id="Tabs" class="nav nav-tabs">
            <li class="active">
                <a href="#entity_panel" data-toggle="tab">实体类</a>
            </li>
            <li>
                <a href="#service_panel" data-toggle="tab">业务逻辑</a>
            </li>
            <li>
                <a href="#form_panel" data-toggle="tab">表单页</a>
            </li>
            <li>
                <a href="#form_js_panel" data-toggle="tab">表单JS</a>
            </li>
            <li>
                <a href="#manage_panel" data-toggle="tab">列表管理页</a>
            </li>
            <li>
                <a href="#manage_js_panel" data-toggle="tab">列表管理页JS</a>
            </li>
            <li>
                <a href="#action_panel" data-toggle="tab">控制器Action</a>
            </li>
        </ul>

        <div id="myTabContent" class="tab-content">
            @*实体类*@
            <div id="entity_panel" class="tab-pane active">
                <div id="output_entity"> </div>
            </div>

            @*业务逻辑*@
            <div id="service_panel" class="tab-pane">
                <div id="output_service"> </div>
            </div>

            @*表单页*@
            <div id="form_panel" class="tab-pane">
                <div id="output_form"> </div>
            </div>

            @*表单js*@
            <div id="form_js_panel" class="tab-pane">
                <div id="output_form_js"> </div>
            </div>

            @*列表管理页*@
            <div id="manage_panel" class="tab-pane">
                <div id="output_manage"> </div>
            </div>

            @*列表管理页JS*@
            <div id="manage_js_panel" class="tab-pane">
                <div id="output_manage_js"> </div>
            </div>

            @*控制器Action*@
            <div id="action_panel" class="tab-pane">
                <div id="output_action"> </div>
            </div>
        </div>
    </div>

    <div class="form-actions">
        <input type="button" class="btn btn-info" value="重新加载" onclick="javascript: window.location.reload();" />
    </div>
</div>
 